/*
All the sass code handlling the layout.
_______________________________________
(Header , Footer, Container, The grid system)
_____________________________________________
*/

/*
The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px
*/
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8rem 1fr;
  place-items: center;
}
.header {
  height: 7rem;
  width: 100%;
  display: grid;
  place-items: center;
}

.main-container {
  width: 25rem;
  height: 45rem;
  background: $White;
  border-radius: 15px;
  text-transform: capitalize;
  background: $White;
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
}

.calculation-bill {
  color: $Dark-grayish-cyan-1;
  border-radius: 2rem;
  background: $White;
}
.restults {
  padding: 1rem;
  background: $Very-dark-cyan;
  border-radius: 0.8rem;
  &__headings-block {
    display: grid;
    grid-template-columns: 30% 1fr;
    column-gap: 40%;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding-top: 1rem;
    &__p-heading {
      color: $White;
    }
    &__span-subHeading {
      color: $Dark-grayish-cyan-1;
    }
  }
  &__tip-output {
    color: $primary-color;
    font-size: 1.6rem;
  }
  &__total-output {
    color: $primary-color;
    font-size: 1.6rem;
  }
}
.form {
  padding: 1rem;

  &__total-bill {
    position: relative;
    margin-bottom: 1rem;
  }
  &__total-input {
    display: block;
    width: 100%;
    height: 2.5rem;
    border-radius: 5px;
    border: none;
    outline: none;
    background: $Light-grayish-cyan-2;
    direction: rtl;
    color: $Very-dark-cyan;
    font-size: 1.4rem;
    font-weight: 400;
  }
  &__select-label {
    display: block;
    margin-bottom: 1rem;
  }
}
.doller-icon {
  position: absolute;
  bottom: 0.4rem;
  left: 0.6rem;
}
.btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.8rem;
  margin-bottom: 1rem;
}
.btn {
  height: 2.5rem;
  background: $Very-dark-cyan;
  border: none;
  border-radius: 5px;
  color: $White;
  font-size: 1.2rem;
  cursor: pointer;
}
.btn-all:hover {
  background-color: $primary-color;
  color: $Very-dark-cyan;
  transition: $main-transition;
}
.btn-custom {
  color: $Dark-grayish-cyan-1;
  background: $Light-grayish-cyan-2;
}
.btn-custom:hover {
  background-color: $Dark-grayish-cyan-2;
  color: $White;
  transition: $main-transition;
}

.people-container {
  position: relative;
}
.people-input {
  display: block;
  width: 100%;
  height: 2.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
  background: $Light-grayish-cyan-2;
  direction: rtl;
  color: $Very-dark-cyan;
  font-size: 1.4rem;
  font-weight: 400;
}
.person-icon {
  position: absolute;
  bottom: 0.4rem;
  left: 0.6rem;
}
.btn-reset {
  display: block;
  width: 100%;
  height: 2.6rem;
  color: hsla(183, 100%, 15%, 0.658);
  background: hsla(172, 67%, 45%, 0.425);
  border: none;
  outline: none;
  font-size: 1.2rem;
  text-transform: capitalize;
  border-radius: 5px;
  cursor: pointer;
}
.btn-reset--active {
  display: block;
  width: 100%;
  height: 2.6rem;
  border: none;
  outline: none;
  font-size: 1.2rem;
  text-transform: capitalize;
  border-radius: 5px;
  cursor: pointer;
  color: $Very-dark-cyan;
  background: $primary-color;
  transition: $main-transition;
}
.btn-reset--active:hover {
  color: hsl(183, 100%, 15%);
  background: hsl(172, 67%, 65%);
}

@media screen and(max-width: 450px) {
  .main-container {
    width: 20rem;
  }
}
@media screen and(min-width: 1140px) {
  .main-container {
    width: 58rem;
    height: 30rem;
    background: $White;
    grid-template-columns: 25rem 25rem;
    column-gap: 2rem;
    place-items: center;
    justify-content: center;
  }
  .calculation-bill {
    width: 25rem;
    height: 25rem;
  }
  .restults {
    width: 28rem;
    height: 25rem;
  }
  .btn-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .restults__total {
    font-size: 2.6rem;
  }
  .restults__headings-block {
    column-gap: 30%;
  }
  .margin-big {
    margin-bottom: 6rem;
  }
}
