/*
(Restes , Variabels, Mixins, Utilty classes)
_____________________________________________
*/
/*
Styleing
_____________
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #c5e4e7;
  font-family: "Space Mono", monospace;
}

/*
Everything that reuseabel.
_____________________________
(Buttons , Navbars, Cards, Popup windows)
_____________________________________________
*/
/*
All the sass code handlling the layout.
_______________________________________
(Header , Footer, Container, The grid system)
_____________________________________________
*/
/*
The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px
*/
body {
  position: relative;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8rem 1fr;
  place-items: center;
}

.header {
  height: 7rem;
  width: 100%;
  display: grid;
  place-items: center;
}

.main-container {
  width: 25rem;
  height: 45rem;
  background: white;
  border-radius: 15px;
  text-transform: capitalize;
  background: white;
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
}

.calculation-bill {
  color: #5e7a7d;
  border-radius: 2rem;
  background: white;
}

.results {
  padding: 1rem;
  background: #00494d;
  border-radius: 0.8rem;
}
.results__headings-block {
  display: grid;
  grid-template-columns: 30% 1fr;
  column-gap: 42%;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding-top: 1rem;
}
.results__headings-block__headings-block--length-2 {
  column-gap: 37%;
}
.results__headings-block__headings-block--length-3 {
  column-gap: 32%;
}
.results__headings-block__headings-block--length-4 {
  column-gap: 27%;
}
.results__headings-block__p-heading {
  color: white;
}
.results__headings-block__span-subHeading {
  color: #5e7a7d;
}
.results__tip-output {
  color: #26c0ab;
  font-size: 1.6rem;
}
.results__total-output {
  color: #26c0ab;
  font-size: 1.6rem;
}

.form {
  padding: 1rem;
}
.form__total-bill {
  position: relative;
  margin-bottom: 1rem;
}
.form__total-input {
  display: block;
  width: 100%;
  height: 2.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #f4fafa;
  direction: rtl;
  color: #00494d;
  font-size: 1.4rem;
  font-weight: 400;
}
.form__select-label {
  display: block;
  margin-bottom: 1rem;
}

.doller-icon {
  position: absolute;
  bottom: 0.4rem;
  left: 0.6rem;
}

.btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.8rem;
  margin-bottom: 1rem;
}

.btn {
  height: 2.5rem;
  background: #00494d;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.btn-all:hover {
  background-color: #26c0ab;
  color: #00494d;
  transition: all 0.2s ease;
}

.btn-all--active {
  background-color: #26c0ab;
  color: #00494d;
  transition: all 0.2s ease;
}

.btn-custom {
  color: #5e7a7d;
  background: #f4fafa;
}

.btn-custom:hover {
  background: #26c0ab;
  color: white;
  transition: all 0.2s ease;
}

.btn-custom--active {
  background: #26c0ab;
  color: white;
  transition: all 0.2s ease;
}

.people-container {
  position: relative;
}

.people-input {
  display: block;
  width: 100%;
  height: 2.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #f4fafa;
  direction: rtl;
  color: #00494d;
  font-size: 1.4rem;
  font-weight: 400;
}

.people-input--red {
  border: 2px solid red;
}

.people-label {
  float: left;
  margin-right: 5rem;
}

.error-message {
  color: red;
  display: none;
}

.person-icon {
  position: absolute;
  bottom: 0.4rem;
  left: 0.6rem;
}

.btn-reset {
  display: block;
  width: 100%;
  height: 2.6rem;
  color: rgba(0, 73, 77, 0.658);
  background: rgba(38, 192, 171, 0.425);
  border: none;
  outline: none;
  font-size: 1.2rem;
  text-transform: capitalize;
  border-radius: 5px;
  cursor: pointer;
}

.btn-reset--active {
  color: #00494d;
  background: #26c0ab;
  transition: all 0.2s ease;
}

.btn-reset--active:hover {
  color: #00494d;
  background: #6ae2d2;
}

@media screen and (max-width: 450px) {
  .main-container {
    width: 20rem;
  }
}
@media screen and (min-width: 1140px) {
  .main-container {
    width: 58rem;
    height: 30rem;
    background: white;
    grid-template-columns: 25rem 25rem;
    column-gap: 2rem;
    place-items: center;
    justify-content: center;
  }

  .calculation-bill {
    width: 25rem;
    height: 25rem;
  }

  .results {
    width: 28rem;
    height: 25rem;
  }
  .results__headings-block {
    column-gap: 39%;
  }
  .results__headings-block--length-2 {
    column-gap: 33%;
  }
  .results__headings-block--length-3 {
    column-gap: 27%;
  }
  .results__headings-block--length-4 {
    column-gap: 21%;
  }
  .results__total {
    font-size: 2.6rem;
  }

  .btn-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .margin-big {
    margin-bottom: 6rem;
  }
}
.popup-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

.popup-overlay--hidden {
  display: none;
}

.popup {
  width: 25rem;
  height: 15rem;
  border-radius: 2px;
  background: #5e7a7d;
  position: relative;
  top: -3rem;
}
.popup__input-block {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease;
  opacity: 1;
}
.popup__input-block__label {
  display: block;
  text-transform: capitalize;
  color: white;
}
.popup__input-block--text {
  display: block;
  width: 80%;
  height: 2rem;
  justify-self: center;
  border: 1px #26c0ab solid;
  outline: none;
  background: none;
  color: #00494d;
  font-size: 1.2rem;
  border-radius: 2px;
}
.popup__input-block--number {
  display: block;
  width: 80%;
  height: 2rem;
  justify-self: center;
  border: 1px #26c0ab solid;
  outline: none;
  background: none;
  color: #00494d;
  font-size: 1.2rem;
  border-radius: 2px;
}

.btn--submit {
  display: block;
  position: relative;
  width: 8rem;
  height: 2rem;
  margin: 0 auto;
  bottom: 0.4rem;
  text-transform: capitalize;
  background: none;
  border-right: 5px #26c0ab solid;
  border-left: 2px #26c0ab solid;
  border-top: 1px #26c0ab solid;
  border-bottom: 5px #26c0ab solid;
  color: white;
  transition: all 0.2s ease;
}

.btn--submit:hover {
  animation: submit 1.2s 1;
}

@keyframes submit {
  0% {
    background: none;
    border-right: 5px #26c0ab solid;
    border-left: 2px #26c0ab solid;
    border-top: 1px #26c0ab solid;
    border-bottom: 5px #26c0ab solid;
    color: transparent;
  }
  100% {
    background: white;
    border-right: 5px white solid;
    border-left: 2px white solid;
    border-top: 1px white solid;
    border-bottom: 5px white solid;
    color: #26c0ab;
  }
}

/*# sourceMappingURL=style.css.map */
